---
layout: base.njk
title: Блог - Роси Йовчева
metaDescription: Разгледайте статиите на Роси Йовчева за психично здраве, емоционално благополучие и личностно развитие.
permalink: /blog.html
---

<section class="section-padding blog-section">
    <div class="container">
        <h2>Блог / Полезни статии</h2>
        <p>Разгледайте моите статии за психично здраве, емоционално благополучие и личностно развитие.</p>
        <div class="blog-grid">
            <div class="blog-card">
                <img src="assets/images/blog1.jpg" alt="Статия за тревожност">
                <div class="blog-card-content">
                    <div class="meta">
                        <span><i class="far fa-user"></i> Роси Йовчева</span>
                    </div>
                    <h3>Как да се справим с тревожността в ежедневието?</h3>
                    <p>Научете практически техники за управление на стреса и тревожните мисли в забързаното
                        ежедневие.</p>
                    <a href="trevojnost.html" class="btn btn-primary">Прочети статията</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="assets/images/blog2.jpg" alt="Статия за граници">
                <div class="blog-card-content">
                    <div class="meta">
                        <span><i class="far fa-user"></i> Роси Йовчева</span>
                    </div>
                    <h3>Значението на поставянето на граници</h3>
                    <p>Открийте защо е важно да казвате "не" и как да поставяте здравословни граници в живота си.</p>
                    <a href="postavqne-na-granici.html" class="btn btn-primary">Прочети статията</a>
                </div>
            </div>
            <div class="blog-card">
                <img src="assets/images/facts.jpg" alt="Статия за психология">
                <div class="blog-card-content">
                    <div class="meta">
                        <span><i class="far fa-user"></i> Роси Йовчева</span>
                    </div>
                    <h3>Интересни факти за психологията</h3>
                    <p>Интересни факти за психологията, които ще Ви изненадат...</p>
                    <a href="fakti-za-psihologiqta.html" class="btn btn-primary">Прочети статията</a>
                </div>
            </div>
        </div>
    </div>
</section>